body{
    background-color: aliceblue;
    margin-top: 80px;
}
table, tr, th, td{
    border: 2px solid red;
    border-collapse: collapse;
    padding: 15px;
}
table th,td{
    font-size: 20px;
}
table th{
font-size: 20px;
background-color: rgb(252, 147, 10);
}
table tr td:hover{
background-color: goldenrod;
}
