.App{
  display: flex;
  min-height: 100vh;
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h1 {
  font-size: calc(10px + 2vmin);
  color: white;
}
.App .btn{
  padding: 10px;
  background-color: #fff;
}

.header{
  padding: 10px;
  background-color: aquamarine;
  color: #000 !important;
  width: 500px;
  text-align: center;
  border-radius: 20px;
}
